extends layout

block content
  if (user)
    p You are logged in as #{user.username}
      &nbsp; 
      a(href="/logout") Logout

  h1= title
  p Add new user
  input(id='newUsername', placeholder='username')
  input(id='newPassword', placeholder='password')
  br
  button(id='addUserButton') Add User
  br
  button(id='listUsers') Show Users
  div(class='result')