extends layout

block content
  a(href='/') Home
  h3 Create a League
  if (!user)
    p You do not have permission to view this content. Please 
      a(href='/') log in
  if (user)
    p You are currently logged in as #{user.username}
      &nbsp;
      a(href="/logout") Logout
    br
    form#createLeague(method='POST' action='api/leagues')
      label(for='name') League Name
      &nbsp;
      input#leagueName(type='text' name='name')
      br
      label(for='commissioner') Commissioner
      &nbsp;
      input#commissioner(name='commissioner' type='text' value='#{user.username}')
      br
      label(for='preset') Preset
      &nbsp;
      select#format(name='preset')
        option(value='triathlon') Triathlon
        option(value='ulti-offseason') Ultimate Off-season
        option(value='bodyweight') Bodyweight Movements
      br
      button#submitLeague(type='submit') Create League

  if (successCode)
    h4 Created league: #{successCode}