extends layout

block content
  if (!user)
    h3 Please Log In or Register
    form(role='form', action="/api/users/login",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      br
      br
      a(href="/register") Register a New User

  if (user)
    p You are currently logged in as <b>#{user.username}</b>
      &nbsp;
      a(href="/logout") Logout
    a(href='/profile') Show my Leagues
    br
    a(href='/create') Create a New League
    br
    a(href='/addUser') See all Users and Leagues
    
